{% extends 'index.html' %}
{% block title %}
{% endblock %}
{% block content %}
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Pagină de contact</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Nu ezitați să ne contactați!</p>

    <div class="row justify-content-center" >
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Adresă: Bacău, Castanilor 1, România</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>Telefon: 0745.555.595</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Email: branoctavian@yahoo.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
{% endblock%}