{% extends 'index.html' %}
{% block title %}
<h1>Third</h1>
{% endblock %}
{% block content %}
<h2>Third content</h2>
<h2>{{var}}</h2>
<ul>
    {% for eachceva in myfruits %}
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{eachceva}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}